.TodoWrapper-title {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  font-family: "Volrant";
  color: #36ba01;
}

.TodoWrapper {
  /* background: #1A1A40; */
  z-index: 10;
  /* margin-top: 5rem; */
  padding: 2rem;
  border-radius: 5px;
  border: 1px solid #038c36;
  background: linear-gradient(
    180deg,
    rgba(2, 157, 56, 0.2) 0%,
    rgba(6, 167, 61, 0.1) 100%
  );
  color: #36ba01;
  box-shadow: inset 0 0 10px #038c36;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #36ba01;
  box-shadow: inset 0 0 10px #36ba01;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
  /* font-family: "Volrant"; */
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #36ba01;
  border: 1px solid #36ba01;
  box-shadow: inset 0 0 10px #36ba01;
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #36ba01;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.Todo p {
  font-family: "Volrant";
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
