@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --size: 54px;
  --speed: 3s;
}

@font-face {
  font-family: "Android";
  src: URL("/public/fonts/Android101-El3e.ttf") format("truetype");
}
@font-face {
  font-family: "Basica";
  src: URL("/public/fonts/Basica20-7GeP.ttf") format("truetype");
}
@font-face {
  font-family: "Volrant";
  src: URL("/public/fonts/ValorantFont.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}
